[user]
	email = kcalmond@gmail.com
	name = Chris Almond
[core]
	editor = vim
[url "git@github.com:"]
	insteadOf = https://github.com/
[mergetool]
	prompt = false
	keepBackup = false
[merge]
	tool = vimdiff
	conflictstyle = diff3
[commit]
	gpgsign = false
